.login-form{
  background: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  h2{
    padding-bottom: 50px;
    color: rgb(50,50,50);
  }
}
.form-control{
  border: none !important;
  border-bottom-color: gray !important;
  border-bottom-style: none !important;
  border-bottom-width: medium !important;
  border-bottom: 2px solid #ccc !important;
  box-shadow: none !important;
  padding: 0 !important;
  background-color: white;
  transition: none !important;
  }
.form-check-label{
  padding-left: 10px;
  padding-top: 10px;
}
.form-actions{
  .btn{
  left: 10%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 20px;
  margin-bottom: 10px;
  border: none;
  background: $red;
  border-radius: 40px;
  color: white;
  }
}
.sign-up{
  a{
    color: $red !important;
    text-decoration: none;
    padding-top: 20px;

  }
}
.register-prompt{
  padding-top: 20px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

