<div id="screen">
<div>
    <img src=<%= @challenge.photo_url %> class="influencer_img">
</div>
<div id="pad">
</div>
<div class="container">
  <div class="card-overlay">
    <div>
      <%= render "shared/challengeShow" %>

      <div class="row">
        <ol>
          <%= render "shared/leaderboardcard" %>
        </ol>
      </div>
    </div>
  </div>
</div>
</div>
