<div id="screen">
<div class="influencer_img">
    <img src=<%= @challenge.photo_url %> >
    <div class='image-gradient'>

    </div>
</div>
<div id="pad">
</div>
<div class="container">

  <div class="card-overlay">
    <div>
      <%= render "shared/challengeShow" %>

        <div id="leader-board-list">
          <%= render "shared/leaderboardcard" %>
        </div>
    </div>
  </div>
</div>
</div>
