


    <% @participants.each do |participant| %>
      <div class="col-xs-12">
        <div class="card">
          <div class="card-block">
            <div class="card-body">
              <li class="card-title"><%= participant.user.handle %>: Total points:<%= participant.total_points %>
               <% participant.badges.each do |badge| %>
                <span>Badge Name: <%= badge.badge_name %>: <img src=<%= badge.icon_name %>></span>
              <% end %>
              </li>
            </div>
          </div>
        </div>
      </div>
      <% end %>
