

<% @participants.each do |participant| %>

    <div class="notification">
      <img src=<%= participant.user.photo %> class="avatar-large"/>
      <div class="notification-content">
        <p><strong><%= participant.user.handle %></strong></p>
        <p> total points:<%= participant.total_points %></p>
        <% participant.badges.each do |badge| %>
          <img src=<%= badge.icon_name %>>
        <% end %>
      </div>
      <div class="notification-actions">
        <a href="#"><i class="fas fa-plus"></i></a>
      </div>
    </div>

<% end %>
