<body>
<!-- <div class="dropdown">
 -->  <button onclick="myFunction()" class="fire dropbtn">
    <div class="hamburger_btn fire"></div>
    <div class="hamburger_btn_mid fire"></div>
    <div class="hamburger_btn fire"></div>
  </button>
  <div id="myDropdown" class="dropdown-content">
    <%= link_to 'Profile', pages_profile_path %>
    <%= link_to 'Log In', new_user_session_path %>
    <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
    <%= link_to 'Contact', pages_contact_path %>



  </div>
<!-- </div> -->

<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.fire')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>

</body>

