
<div class="form_container">
  <div class="col-xs-12 col-sm-6" >

    <h3 id='challenge_header'>Create Your Challenge!</h3>

    <div id='challenge_form'>
    <%= render 'form', challenge: @challenge %>

    <%= link_to 'Back', challenges_path %>
    </div>
  </div>
</div>

