
<div class="form_container">
  <div class="col-xs-12 col-sm-6" >
    <div id='challenge_form'>
      <!-- render multi page challenge creation form -->
      <%= render 'form', challenge: @challenge %>
      <%= link_to 'Back', challenges_path %>
    </div>
  </div>
</div>

