
.influencer_img{
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  position: fixed;
  background-size: contain;
  // background-repeat: no-repeat;
  // object-fit: scale-down;
  z-index: -1;
  top: 0;
}

