#screen{
  background: rgba(40,40,40,1);
  background-size: cover;
  z-index: -5;
}
.image-gradient{
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0), rgba(40,40,40,.5), rgba(40,40,40,1));
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.influencer_img{
  position: fixed;
  z-index: 0;
  top: 0px;
  // background-size: cover !important;
  width: 100%;
  img{
    width: 100%;
  }
}
#pad{
  height: 350px;
}
.container{
  width: 90%;
}
// .card_overlay{
//   display: flex;
//   text-align: center;
// }
.card{
  background: #ffffff;
  border-radius: 4px;
  border: none;
  height: auto;
  position: relative;
  padding-bottom: 70px;
  box-shadow: 1px 1px 1px;
  .join_button{
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  .task_results_btn{
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  // padding: 20px;
}
#avatar-card{
  position: absolute;
  right: -22px;
  top: -33px;
  .avatar{
    border: white 3px solid;
    border-top-color: white;
    width: 80px;
    border-radius: 50%;
   }
}
#header-body{
  // position: relative;
  vertical-align: center;
  h4{
    font-family: 'Roboto', sans-serif;
    padding: 20px 50px 0px 20px;
    font-size: 23px;
    font-weight: !important lighter;
  }
  p{
    font-family: 'Roboto', sans-serif;
    padding: 0px 20px;
    margin: 4px;
  }
}
  .avatar{
    border: white 3px solid;
    border-top-color: white;
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: white;
  color: #FF0040;
  cursor: pointer;
  // padding: 18px;
  // width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

.challenge-card-meta {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  margin-bottom: 10px;
  background: rgb(210,210,210);

  // span {
  //   width: 33%;
  //   position: relative;
  //   text-align: center;

  //   &:after {
  //     content: '';
  //     position: absolute;
  //     width: 5px;
  //     height: 5px;
  //     border-radius: 50%;
  //     background-color: #222;
  //     right: 0;
  //     top: 10px;
  //   }

  //   &:first-child {
  //     text-align: left;
  //   }
  //   &:last-child {
  //     text-align: right;

  //     &:after {
  //       display: none;
  //     }
  //   }
  // }
}
.challenge_desc{
  color: rgb(100,100,100);
}
// =======
/* Style the collapsible content. Note: hidden by default */
// .content {
//   display: none;
//   overflow: hidden;
//   background-color: white;
// >>>>>>> master
// }
