<h2>Daily Goal Calendar for <%= current_user.email %></h2>


        <p>scroll challenges</p>
        <% @daily_goals.each do |daily_goal| %>
                 <p> <%= daily_goal.day %><br> </p>
                  <% daily_goal.daily_goal_tasks.each do |task| %>
                   <p> <%= task.description %> </p>
                  <% end %>

              <% end %>
            </div>

