

<div id="leaderboard-card">
  <% @task_results.each do |task| %>
      <div class="notification">
        <div class="notification-content">
          <p><strong><%= task.daily_goal_task.description %></strong></p>
          <p class="upboats"> total points:<%= task.daily_goal_task.task_points %></p>

              <%= form_tag challenge_completr_path, method: :post do %>
                <%= button_tag "<i class='fa fa-arrow-up'></i>".html_safe, class: "upvote-btn",  value: "#{task.id}"%>
            <% end %>

        </div>
      </div>
  <% end %>
</div>



